<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mapper.AutocadeMapper">
  <resultMap id="BaseResultMap" type="com.woniu.pojo.Autocade">
    <id column="acid" jdbcType="INTEGER" property="acid" />
    <result column="acnumber" jdbcType="VARCHAR" property="acnumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    acid, acnumber
  </sql>
  <select id="selectByExample" parameterType="com.woniu.pojo.AutocadeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from autocade
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from autocade
    where acid = #{acid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from autocade
    where acid = #{acid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.pojo.AutocadeExample">
    delete from autocade
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.pojo.Autocade">
    insert into autocade (acid, acnumber)
    values (#{acid,jdbcType=INTEGER}, #{acnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.pojo.Autocade">
    insert into autocade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="acid != null">
        acid,
      </if>
      <if test="acnumber != null">
        acnumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="acid != null">
        #{acid,jdbcType=INTEGER},
      </if>
      <if test="acnumber != null">
        #{acnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.pojo.AutocadeExample" resultType="java.lang.Long">
    select count(*) from autocade
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update autocade
    <set>
      <if test="record.acid != null">
        acid = #{record.acid,jdbcType=INTEGER},
      </if>
      <if test="record.acnumber != null">
        acnumber = #{record.acnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update autocade
    set acid = #{record.acid,jdbcType=INTEGER},
      acnumber = #{record.acnumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.pojo.Autocade">
    update autocade
    <set>
      <if test="acnumber != null">
        acnumber = #{acnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where acid = #{acid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.pojo.Autocade">
    update autocade
    set acnumber = #{acnumber,jdbcType=VARCHAR}
    where acid = #{acid,jdbcType=INTEGER}
  </update>
</mapper>